<div class="container">
	<h1>Sean Fitzgerald</h1>

	<p><strong>Accountant - Aspiring Web Developer</strong></p>

	<p>My purpose is to turn ideas into reality.<br />
	We all have had great ideas. Let me help you turn your idea into something real.</p>

	<br />

	<a href="https://github.com/SeanRFitz" target="_blank"><%=image_tag("github.png") %> </a>
	<a href="https://www.linkedin.com/in/srfitzgerald/" target="_blank"><%=image_tag("linked-in.png") %></a>
	<a href="mailto:sean.r.fitzgerald@outlook.com" target="_top"><%=image_tag("Email.png") %></a>
</div>